.card
{
    box-shadow: rgba(0,0,0,0.05) 0px 6px 24px 0px,
    rgba(0,0,0,0.08)0px 0px 0px 1px;
}

img
{
    width: 100%;
}
.card_content
{
    padding: 3.2rem 1.2rem;
    display: flex;
    /* background-color: cadetblue; */
    flex-direction: column;
    /* gap: 1.2rem; */
}
.card-heading{
    margin-bottom: 3.2rem;
    color: red;
}
.super_hit
{
    background-color: green;
}
.average
{
    background-color: yellow;
}
.rating
{
    padding: 0.3rem 1.8rem;
    margin-left: 1.2rem;
    border-radius: 100rem;
    
}
/* .timepass
{
    /* border: 1rem solid red; */
/* }  */